// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.test_blue{
  background-color: #0f6674;
}

.btn-primary{
  background-color: #28a745;
  border-color: #28a745 ;
}

#snippet_title{
  font-size: large;
  font-weight: bold;
}

.logo{
  height: 50px;
}

.search{
  background-color: #fce8d7;
}

.main{

}

html{
height: 1vh;
}

body{
  height: 1vh;
}

.nav-bar-container{
  top: 10px;
}
